@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  background-color: rgb(85, 85, 255);
  margin: 0;
  padding: 0;
}

.gameTitle {
  text-align: center;
  padding: 30px;
  color: rgb(0, 183, 255);
  font-size: 8em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.gameTitle1 {
  text-align: center;
  padding: 30px;
  color: rgb(0, 183, 255);
  font-size: 3em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.start {
  text-align: center;
}

#start-button {
  font-family: "Krona One", sans-serif;
  color: rgb(0, 255, 234);
  font-size: 3em;
  background-color: rgb(85, 85, 255);

  /* margin: 0 auto; */
}
#start-button:hover {
  color: rgb(0, 183, 255);
}
.button {
  padding: 20px;
}

.tileGrid {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 1 1 25%;
  background-color: #000;
  border: 1px #eee solid;
  cursor: pointer;
  box-sizing: border-box;
}

.tile:hover {
  border: 5px solid #fff;
}

.clearTiles {
  background-color: #000;
}
