@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

.backImage {
  background-image: url(../images/simon-background.blurred.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.backImage::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 0;
}
.backImage > * {
  z-index: 200;
  position: relative;
}

.modal {
  z-index: 10;
  position: relative;
}

.instructions {
  font-family: "Krona One", sans-serif;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.3em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.splash-gameTitle {
  text-align: center;
  padding: 30px;
  color: rgb(0, 183, 255);
  font-size: 2.5em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.main-gameTitle {
  text-align: center;
  padding: 30px 0px 5px 0px;
  color: rgb(0, 183, 255);
  font-size: 2em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.howToGameTitle {
  text-align: center;
  padding: 30px 15px 0px 0px;
  color: rgb(0, 183, 255);
  font-size: 2.5em;
  /* letter-spacing: 5px; */
  font-family: "Krona One", sans-serif;
}

.highScoreGameTitle {
  text-align: center;
  padding: 10px 10px;
  color: rgb(0, 183, 255);
  font-size: 2.5em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.myCenteredContent {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  width: 100px;
  height: 300px;
  background-color: #f00;
}

.two {
  width: 100px;
  height: 300px;
  background-color: #0f0;
}

.three {
  width: 100px;
  height: 300px;
  background-color: #00f;
}
#display-to-user {
  margin: 0 auto;
  width: 80vw;
  height: 60vh;
  /* background-color: #fff; */
  font-family: "Krona One", sans-serif;
  color: rgb(0, 183, 255);
  text-align: center;
  border: 4px solid #fff;
  border-radius: 15px;
  opacity: 0.6;
}

#high-score-frame {
  margin: 0 auto;
  width: 80vw;
  height: 60vh;
  /* background-color: #fff; */
  font-family: "Krona One", sans-serif;
  color: rgb(0, 183, 255);
  text-align: center;
  border: 4px solid #fff;
  border-radius: 15px;
  opacity: 0.6;
}

#instructions p {
  padding: 3px 0px;
}

#highScoreTableHeader {
  margin: 0 auto;
  padding: 15px 0px 0px 0px;
  font-size: 1.5em;
}

#highScoreTableSubHeader {
  display: flex;
  font-size: 1.3em;
}

.rank {
  font-size: 1.5em;
}

.name {
  font-size: 1.5em;
}

.score {
  font-size: 1.5em;
}

#howTo {
  font-size: 1.5em;
  padding: 25px 25px 0px 25px;
}

.firstDivider {
  width: 80%;
  height: 2px;
  background-color: rgb(0, 183, 255);
  margin: 10px auto;
  border-bottom: solid 1px #fff;
}

.secondDivider {
  width: 80%;
  height: 2px;
  background-color: rgb(0, 183, 255);
  margin: 10px auto;
  border-bottom: solid 1px #fff;
}

.span {
  padding: 0px 0px 0px 30px;
}
.start {
  text-align: center;
}

.my-btn {
  font-family: "Krona One", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 3px 50px;
  margin: 5px 0px;
}

.my-btn:hover {
  color: rgb(0, 183, 255);
}

.inGame-btn {
  font-family: "Krona One", sans-serif;
  color: rgb(0, 183, 255);
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.button {
  padding: 20px;
}

.playAgain-header {
  text-align: center;
}

#gamerName,
#gamerLevel,
#gamerLives {
  display: block;
  margin: auto;
}

.gamerName-gamerLevel-gamerLives {
  font-family: "Krona One", sans-serif;
  color: rgb(0, 183, 255);
  font-size: 1em;
  text-align: center;
}

#back-btn {
  margin: 15px auto;
}

.modal-header {
  font-size: 1.1em;
  text-align: center;
}

#playAgainModalQuestion {
  font-size: 1.1em;
  text-align: center;
}

#playAgainModal {
  font-family: "Krona One", sans-serif;
  height: 600px;
  max-height: 600px;
}

.tileGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.tile {
  flex: 1 1 25%;
  background-color: #000;
  border: 1px rgb(0, 183, 255) solid;
  box-sizing: border-box;
}

.tile:hover {
  border: 5px solid #fff;
}

.clearTiles {
  background-color: #000;
}

#playAgainModal {
  transform: translate3d(0, 0, 0);
}
.rank,
.name,
.score {
  font-size: 1em;
}
#highScoreTableSubHeader {
  font-size: 1em;
}

/*/////////////////
/* media queries */
/*///////////////*/

@media screen and (max-width: 375px) {
  .rank,
  .name,
  .score {
    font-size: 0.75em;
  }

  #highScoreTableSubHeader {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 425px) {
  #display-to-user {
    height: 60vh;
  }

  #instructions > p {
    font-size: 0.75em !important;
  }

  .myCol {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .playerLabel {
    text-align: left;
    flex: 1;
  }

  #gamerName {
    /* margin-left: 40px; */
    flex: 1;
  }

  #gamerLevel,
  #gamerLives {
    flex: 1;
  }

  .levelLabel,
  .livesLabel {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  #instructions > p {
    font-size: 0.9em;
    line-height: 1em;
  }
}

@media screen and (min-width: 768px) {
  .my-btn {
    font-size: 1em;
    padding: 10px 20px;
    margin: 12px 10px;
  }

  #start-btn {
    margin: 0px;
  }

  .main-gameTitle {
    font-size: 4em;
    text-align: center;
    padding-bottom: 40px;
  }

  .splash-gameTitle {
    font-size: 7em;
    text-align: center;
  }

  .field {
    font-size: 1.5em;
  }

  .rank > p {
    font-size: 1.5em;
  }

  .name > p {
    font-size: 1.5em;
  }

  .score > p {
    font-size: 1.5em;
  }

  #high-score-frame {
    height: 70vh;
  }

  .highScoreGameTitle {
    font-size: 3em;
    text-align: center;
  }

  .howToGameTitle {
    font-size: 3em;
    padding-bottom: 30px;
  }

  #howTo {
    font-size: 2em;
    padding: 10px 25px 0px 25px;
  }

  .allPTags p {
    margin-top: 20px;
  }

  #instructions > p {
    font-size: 1em;
  }

  .myRow {
    position: relative;
  }

  #gamerLivesText {
    position: absolute;
    top: 100px;
    right: 0px;
  }

  #highScoreTableHeader {
    font-size: 1.9em;
  }

  .instructions p {
    font-size: 1em;
    letter-spacing: 0.2em;
    padding: 5px;
  }

  p {
    margin-bottom: 4px !important;
  }

  #back-btn {
    font-size: 0.9em;
    padding: 5px 60px;
    margin: 26px 0px;
  }

  .gamerName-gamerLevel-gamerLives {
    font-size: 1em;
    margin-top: 20px;
  }

  .myCol {
    padding: 0px;
  }

  #gamerName {
    margin-bottom: 10px;
  }

  .tile {
    flex: 0 0 25% !important;
  }

  .tile:hover {
    border-width: 1px;
  }

  .tileGrid {
    flex-direction: row;
    padding: 0px 30px !important;
  }

  #display-to-user {
    height: 45vh;
  }

  #highScoreTableHeader {
    font-size: 2em;
  }

  #highScoreTableSubHeader .field {
    padding: 0px;
  }

  .rank,
  .name,
  .score {
    margin-bottom: 15px !important;
    line-height: 1.5em;
  }

  .levelLabel,
  .livesLabel {
      margin-top: 0px;
  }
}

@media screen and (min-width: 992px) {
  #gamerLivesText {
    padding-top: 100px;
  }

  .splash-gameTitle {
    font-size: 8em;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gamerName-gamerLevel-gamerLives {
    font-size: 1.5em !important;
  }

  #gamerLivesText {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .main-gameTitle {
    font-size: 5.5em;
  }

  .instructions p {
    font-size: 1.5em;
  }

  .start {
    font-size: 1.5em;
  }

  #instructions p {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .howToGameTitle {
    font-size: 5em;
  }

  .gamerName-gamerLevel-gamerLives {
      font-size: 2em;
  }
  #gamerName,
  #gamerLevel,
  #gamerLives {
      font-size: 2em;
  }
  
  #display-to-user {
      height: 50vh;
  }
}

@media screen and (min-width: 1440px) {

  .main-gameTitle {
    font-size: 8em;
  }

  .splash-gameTitle {
    font-size: 10em;
    text-align: center;
  }

  .start {
    font-size: 3em;
    padding: 100px;
  }

  .howToGameTitle {
    font-size: 7em;
  }

  #instructions p {
    font-size: 1.5em;
    line-height: 1.8em;
  }

  #howTo {
    font-size: 3em;
  }

  #back-btn {
    font-size: 2em;
    padding: 5px 60px;
    margin-top: 50px;
  }

  .highScoreGameTitle {
    font-size: 6em;
  }

  #highScoreTableHeader {
    font-size: 4em;
  }

  .allPTags p {
    font-size: 2em;
    line-height: 2em;
  }

  #highScoreTableSubHeader {
    font-size: 1.5em;
  }

    .gamerName-gamerLevel-gamerLives {
      font-size: 3em;
      margin-bottom: 40px;
  }

  .livesLabel {
      margin-top: 80px;
  }

  #gamerName,
  #gamerLevel,
  #gamerLives {
      font-size: 3em;
  }
}

@media screen and (min-width: 2560px) {
  #instructions > p {
    font-size: 3em;
  }

  .main-gameTitle {
    font-size: 14em;
  }

  .splash-gameTitle {
    font-size: 20em;
  }

  .instructions p {
    font-size: 3.5em;
  }

  .my-btn {
    font-size: 2em;
    padding: 10px 20px;
    margin: 12px 0px;
  }

  .start {
    padding: 200px 0px;
  }

  .howToGameTitle {
    font-size: 12em;
    padding-bottom: 200px;
  }

  #instructions p {
    font-size: 3em;
    line-height: 2em;
  }

  #howTo {
    font-size: 5em;
  }

  #back-btn {
    font-size: 4em;
    padding: 5px 60px;
    margin-top: 150px;
  }

  .highScoreGameTitle {
    font-size: 12em;
    margin: 100px 0px;
  }

  #highScoreTableHeader {
    font-size: 8em;
  }

  #high-score-frame {
    height: 60vh;
  }

  .allPTags p {
    font-size: 3.5em;
    line-height: 2em;
  }

  #highScoreTableSubHeader {
    font-size: 3em;
  }

  #back-btn {
    margin-top: 75px;
  }
}
