@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

.backImage {
  background-image: url(../img/img1.jpg);
  position: relative;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  /* background: url(//source.unsplash.com/1280x780/?square?1); */
}

.backImage::after {
  content: "";
  display: block;
  /* padding: 200px; */
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 0;
}
.backImage > * {
  z-index: 200;
  position: relative;
}

.modal {
  z-index: 10;
  position: relative;
}

.instructions {
  font-family: "Krona One", sans-serif;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.3em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.splash-gameTitle {
  text-align: center;
  padding: 30px;
  color: rgb(0, 183, 255);
  font-size: 8em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.main-gameTitle {
  text-align: center;
  padding: 30px;
  color: rgb(0, 183, 255);
  font-size: 3em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.highScoreGameTitle {
  text-align: center;
  padding: 30px;
  color: rgb(0, 183, 255);
  font-size: 5em;
  letter-spacing: 5px;
  font-family: "Krona One", sans-serif;
}

.myContentRow {
  position: relative;
}

.one {
  width: 100px;
  height: 300px;
  background-color: #f00;
}

.two {
  width: 100px;
  height: 300px;
  background-color: #0f0;
}

.three {
  width: 100px;
  height: 300px;
  background-color: #00f;
}
#display-to-user {
  width: 30vw;
  height: 70vh;
  background-color: #fff;
  position: absolute;
  top: 150px;
  left: 35%;
  font-family: "Krona One", sans-serif;
  color: rgb(0, 183, 255);
  text-align: center;
  border: 4px solid #fff;
  border-radius: 15px;
  opacity: 0.6;
}
#instructions p {
  padding: 8px 0px;
}

#highScoreTableHeader {
  padding: 30px 0px 0px 5px;
  font-size: 1.9em;
}

#highScoreTableSubHeader {
  font-size: 1.3em;
  padding-left: 40px;
}

.field {
  padding-left: 20px;
}

.rank {
  padding-left: 38px;
  font-size: 1.5em;
}

.name {
  font-size: 1em;
  text-align: left;
}

.score {
  font-size: 1em;
  margin: 0 auto;
}

#howTo {
  font-size: 2em;
  padding: 25px 25px 0px 25px;
}

.divider {
  width: 80%;
  height: 2px;
  background-color: rgb(0, 183, 255);
  margin: 0px auto;
  border-bottom: solid 1px #fff;
}

.span {
  padding: 0px 0px 0px 30px;
}
.start {
  text-align: center;
}

.my-btn {
  font-family: "Krona One", sans-serif;
  color: rgb(82, 80, 85);
  font-size: 2em;
  background-color: rgb(0, 0, 0);
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.my-btn:hover {
  color: rgb(0, 183, 255);
}

.inGame-btn {
  font-family: "Krona One", sans-serif;
  color: rgb(0, 183, 255);
  font-size: 1.5em;
  background-color: rgb(0, 0, 0);
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.button {
  padding: 20px;
}

#gamerName,
#gamerLevel,
#lives {
  display: block;
  margin: auto;
}

#gamerLivesText {
  margin-top: 40px;
}

.gamerName-gamerLevel-gamerLives {
  font-family: "Krona One", sans-serif;
  color: rgb(0, 183, 255);
  font-size: 2em;
  text-align: center;
}

#back-btn {
  position: absolute;
  bottom: 30px;
  right: 200px;
}

.modal-header {
  /* display: block; */
  font-size: 1.1em;
  text-align: center;
}

#playAgainModalQuestion {
  font-size: 1.1em;
  text-align: center;
}

#playAgainModal {
  font-family: "Krona One", sans-serif;
  height: 600px;
  max-height: 600px;
}

.tileGrid {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 1 1 25%;
  background-color: #000;
  border: 1px rgb(0, 183, 255) solid;
  /* cursor: pointer; */
  box-sizing: border-box;
}

.tile:hover {
  border: 5px solid #fff;
}

.clearTiles {
  background-color: #000;
}
/* media queries */

@media screen and (max-width: 576px) {
  .splash-gameTitle,
  .main-gameTitle {
    font-size: 2em;
    text-align: center;
  }
  .instructions p {
    font-size: 0.7em;
    letter-spacing: 0.2em;
  }

  .my-btn {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .gamerName-gamerLevel-gamerLives {
    font-size: 0.7em;
  }

  .inGame-btn {
    font-size: 0.7em;
    padding: 3px;
    border-width: 1px;
  }

  .tile {
    flex: 1 1 25%;
  }

  .tile:hover {
    border-width: 1px;
  }

  .tileGrid {
    flex-direction: column;
    padding: 0px !important;
  }

  .mobCol {
      padding: 0px 6px !important;
  }
}
